<body>
  <a href="/">Blog</a>
  <a href="/about">About</a>

  <h1>Hi! Welcome to my blog (or the beginning of it)</h1>
  <h2>What you will see here</h2>
  <p>This site will be about my technical ramblings, primarily</p>
  <ul>
    <li>Microsoft 365</li>
    <li>Azure</li>
    <li>PowerShell (love this stuff!)</li>
    <li>Other IT-related things I stumble upon in my day-to-day</li>
  </ul>

  <p>
    this page will update as I get more proficient with Astro (the site
    generation tool this site uses), so let me know about stuff you don't like -
    or better things that you think are great ;)
  </p>
</body>
