---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>deported into a... blog?!</title>
  </head>
  <body>
    <a href="/">Blog</a>
    <a href="/about">About</a>
    <h1>Blog (or random assortment of words)</h1>
    <p>This is where I will post about my random tech findings</p>
  </body>
</html>
