---
const myobj = {
  name: "Jonas",
  age: 24,
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>deported into a... blog?!</title>
  </head>
  <body>
    <p>{myobj.name}</p>
    <p>{myobj.age}</p>
  </body>
</html>
